/*----- global -----*/
*{
  margin:0;
  padding:0;
  border:0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  list-style-type: none;/*removes bullets*/
}
html {
  font-family: Circular Std,sans-serif;
}
body {
  background-color: #000;
}

/*----------------------
INACTIVE STATE
-----------------------*/

/*----- bg -----*/
body {
  height: 100vh;
  max-width: 1550px;
  background-image: url(img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.container {
  height: 100vh;
  transition-duration: 350ms;
  transition-delay: 140ms;
}
.masthead {
  position: relative;
  top: 40px;
  left: 55px;
  z-index: 2;
  width: 93%;
  display: flex;
  align-items: baseline; /*lines items at the top of the div*/
  justify-content: space-between; /*Renders equally spaced content*/
}
.menu-toggle div{
  background-color: #fff;
  height: 8px;
  width: 60px;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(.1,.2,.35,1.5);/*bouncy animation*/
}
.one, .two {
  margin-bottom: 8px;
}
/*----- menu -----*/
.navList::before, .navList::after {
  background-color: #424242;
  content:"";
  position: absolute;
  top: 0;
  height: 100vh;
  width: 0vw;
  transition: all 100ms ease-in-out 300ms; /*Transition and transform*/
}
.navList::before {
  left:0;
}
.navList::after {
  right:0;
}
.navList ul {
  position: absolute;
  top: -50%;/*hides navList offscreen*/
  left: 41%;
  transition-duration: 300ms;
}
.navList a {
  display: block;
  text-align: center;/*wouldn't work without display prop block being called*/
  text-transform: capitalize;
  padding-bottom: 40px;
  font-weight: 800;
  font-size: 64px;
  color: #F8BBD0;

}
.navList a:hover {
  color: #fff;
}
/*----- botton -----*/
#btn {
  background-color: #FF80AB;
  font-size: 36px;
  font-weight: 700;
  color:white;
  width: 250px;
  height: 75px;
  line-height: 75px;
  border-radius: 40px;
  text-transform: uppercase;
  margin:450px 0px 0px 40%;
}
#btn:hover {
  background-color: #7f3f55;
  cursor: pointer;
}

/*----------------------
ACTIVE STATE
-----------------------*/

/*----- body -----*/
.container.active {
  background-color: #FF80AB;
  height: 100vh;
}
.btn.active {
  display: none;
}
/*----- menu -----*/
.menu-toggle.active .one{
  transform: translateY(16px)rotate(45deg);
}
.menu-toggle.active .two{
  background-color: transparent; /*disappears after translation*/
  transform: translateX(-55px);
}
.menu-toggle.active .three{
  transform: translateY(-16px)rotate(-45deg);
}
/*----- nav -----*/
.navList.active::before, .navList.active::after {
  width: 25vw;
}
.navList.active ul {
  top: 200px;
  transition-delay: 600ms;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(.1,.2,.1,1.3);/*make em bouncy*/
}
